<div class="container">
  <div class="filter" style="float: right">
    <form action="/forums/" method="get">
      <input type="search" name="filter" />
      <input type="submit" value="フォーラム検索" />
    </form>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="container">
  <table class="list">
    <thead>
      <tr>
        <th>フォーラム</th>
        <th>詳細説明</th>
        <th>スレッド数</th>
        <th>作成日時</th>
      </tr>
    </thead>
    <tbody>
      <% @forums.each do |forum| %>
      <tr>
        <td><%= link_to forum.forum_nm, forum_path(id: forum.forum_id) %></td>
        <td><%= forum.detail %></td>
        <td><%= forum.count_all ||= 0 %></td>
        <td><%= forum.create_dttm %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="paging_control">
    <%= paginate @forums %>
    <span>
        1ページに:
        <a href="/forums?per_page=15">15</a>,
        <a href="/forums?per_page=30">30</a>,
        <a href="/forums?per_page=50">50</a>
      </span>
  </div>
</div>