<% if @forums.length > 0 %>
<!--サブカテゴリ-->
<div class="container">
  <table class="list">
    <thead>
    <tr>
      <th>フォーラム</th>
      <th>詳細説明</th>
      <th>スレッド数</th>
      <th>作成日時</th>
    </tr>
    </thead>
    <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><%= link_to forum.forum_nm, forum_path(id: forum.forum_id) %></td>
        <td><%= forum.detail %></td>
        <td><%= forum.count_all %></td>
        <td><%= forum.create_dttm %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr>
<% end %>

<div class="container">
  <a href="/posts/new?forum_id=<%= @current_forum.forum_id %>">スレッド作成</a>
</div>

<!--スレッドリスト-->
<div class="container">
  <table class="list">
    <thead>
    <tr>
      <th>タイトル</th>
      <th>コメント</th>
      <th>最新の投稿</th>
      <th>作成日時</th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post.post_id) %></td>
      <td><%= post.r_cnt %></td>
      <td><%= post.recent_dttm %></td>
      <td><%= post.write_dttm %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>