<%# if @forums.length > 0 %>
<!--サブカテゴリ-->
<!--<div class="container">-->
<!--  <table class="list">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>フォーラム</th>-->
<!--      <th>詳細説明</th>-->
<!--      <th>スレッド数</th>-->
<!--      <th>作成日時</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
    <%# @forums.each do |forum| %>
<!--      <tr>-->
<!--        <td><%#= link_to forum.forum_nm, forum_path(id: forum.forum_id) %></td>-->
<!--        <td><%#= forum.detail %></td>-->
<!--        <td><%#= forum.count_all %></td>-->
<!--        <td><%#= forum.create_dttm %></td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--  <div class="paging_control">-->
    <%#= paginate @forums %>
<!--    <span>-->
<!--        1ページに:-->
<!--        <a href="/forums?per_page=10">10</a>,-->
<!--        <a href="/forums?per_page=30">30</a>,-->
<!--        <a href="/forums?per_page=50">50</a>-->
<!--      </span>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<%# end %>

<%= render 'shared/search' %>

<!--スレッドリスト-->
<div class="container">
  <div class="list_desc">
    <%= link_to '最新スレッド順',
                params: params.except(:controller, :action).merge(order: 'tdate_desc').permit!.to_h %> |
    <%= link_to 'コメント多い順',
                params: params.except(:controller, :action).merge(order: 'cnt_desc').permit!.to_h %> |
    <%= link_to 'いいね多い順',
                params: params.except(:controller, :action).merge(order: 'like_desc').permit!.to_h %> |
    <%= link_to '最新コメント順',
                params: params.except(:controller, :action).merge(order: 'cdate_desc').permit!.to_h %>
  </div>
  <table class="list">
    <thead>
    <tr>
      <th>スレッド</th>
      <th width="7%">コメント</th>
      <th width="7%">いいね</th>
      <th width="20%">最新コメント</th>
      <th width="20%">スレッド作成</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="5" class="t_center">
        <a href="/posts/new?forum_id=<%= @current_forum.forum_id %>">スレッド作成</a>
      </td>
    </tr>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%
          if post.closed == 1
             post.title = '[締切] ' + post.title
          end
        %>
        <%= link_to post.title, post_path(post.post_id) %></td>
      <td><%= post.r_cnt %></td>
      <td><%= post.like_cnt %></td>
      <td><%= post.recent_dttm %></td>
      <td><%= post.write_dttm %></td>
    </tr>
    <% end %>
    <tr>
      <td colspan="5" class="t_center">
        <a href="/posts/new?forum_id=<%= @current_forum.forum_id %>">スレッド作成</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="paging_control">
    <%= paginate @posts %>
    <span>
      1ページに:
      <%= link_to '15', params: params.except(:controller, :action).merge(per_page: '15').permit!.to_h %>,
      <%= link_to '30', params: params.except(:controller, :action).merge(per_page: '30').permit!.to_h %>,
      <%= link_to '50', params: params.except(:controller, :action).merge(per_page: '50').permit!.to_h %>
    </span>
  </div>
</div>