<div class="create">
  <div class="container">
    <div class="form_title">
      <p>コメント作成</p>
    </div>
    <%= form_for @reply do |f| %>
      <%= f.hidden_field :post_id %>
      <%= f.hidden_field :quote_reply_id %>
      <div class="field">
        <%= f.label "名前" %>
        <%= f.text_field :user_id %>
      </div>
      <% unless request.env['PATH_INFO'] === edit_reply_path %>
        <div class="field">
          <%= f.label "パスワード" %>
          <%= f.password_field :password %>
        </div>
      <% end %>
      <div class="field">
        <%= f.label "コメント" %>
        <%= tinymce language: 'ja',
                    cleanup: true,
                    relative_urls: false,
                    remove_script_host: false,
                    convert_urls: true
        %>
        <%= f.text_area :content, class:'form-control tinymce', rows: '8' %>
      </div>
      <div class="actions">
        <a href="/posts/<%= @reply.post_id %>"><input type="button" value="キャンセル"></a>
        <%= f.submit local_assigns[:submit] %>
      </div>
    <% end %>
  </div>
</div>