<div class="create">
  <div class="container">
    <div class="form_title">
      <p>スレッド作成</p>
    </div>
    <%= form_for @post do |post_form| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= post_form.hidden_field :forum_id, :value => (@post.forum_id ||= params[:forum_id]) %>
      <div class="field">
        <%= post_form.label "名前" %>
        <%= post_form.text_field :post_user_id %>
      </div>

      <% if request.env['PATH_INFO'] === new_post_path %>
        <div class="field">
          <%= post_form.label "パスワード" %>
          <%= post_form.password_field :password %>
        </div>
      <% end %>

      <div class="field">
        <%= post_form.label "タイトル" %>
        <%= post_form.text_field :title %>
      </div>

      <div class="field">
        <%= post_form.label :content %>
        <%= post_form.text_area :content %>
      </div>

      <div class="field">
        <%= post_form.label "締切日" %>
        <%= post_form.text_field :close_dttm, type: 'date' %>
      </div>

      <div class="actions">
        <%= post_form.submit local_assigns[:submit] %>
        <% if @post.post_id.nil? %>
          <a href="/forums/<%= @post.forum_id %>"><input type="button" value="キャンセル"></a>
        <% else %>
          <a href="/posts/<%= @post.post_id %>"><input type="button" value="キャンセル"></a>
        <% end %>
      </div>
    <% end %>
  </div>
</div>