<%= render '/replies/form', summit: "作成" %>

<div class="messages">
  <div class="container">
    <div id="post_list">
      <ol id="posts" start="1">
        <li>
          <div class="message">
            <div class="post_head">
              <p class="title"><%= @post.title %></p>
            </div>
            <div class="post_body">
              <p class="content"><%= @post.content %></p>
            </div>
            <div class="post_foot">
              <span class="user"><%= @post.post_user_id %></span>
              <span class="time"><%= @post.write_dttm %></span>
            </div>
          </div>
        </li>
        <!-- Reply -->
        <% @replies.each do |reply| %>
          <li>
            <div class="message">
              <div class="post_head">
              </div>
              <div class="post_body">
                <p class="content"><%= reply.content %></p>
              </div>
              <div class="post_foot">
                <span class="user"><%= reply.user_id %></span>
                <span class="time"><%= reply.write_dttm %></span>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>