<div class="messages">
  <div class="container">
    <div class="paging_control">
      <%= paginate @replies %>
      <span>
        1ページに:
        <a href="/posts/<%= @post.post_id %>?per_page=10">10</a>,
        <a href="/posts/<%= @post.post_id %>?per_page=30">30</a>,
        <a href="/posts/<%= @post.post_id %>?per_page=50">50</a>
      </span>
    </div>
    <div id="post_list">
      <ol id="posts" start="1">
        <li>
          <div class="post_message">
            <div class="post_head">
              <p class="title">
                <% if @closed %>
                  [締切]
                <% end %>
                <%= @post.title %>
              </p>
            </div>
            <div class="post_body">
              <p class="content"><%= @post.content.html_safe %></p>
            </div>
            <div class="post_foot">
              <span class="user"><%= @post.post_user_id %></span>
              <span class="time"><%= @post.write_dttm %></span>
            </div>
            <div class="osusume">
              <a href="#">
                <p class="t_right osu_icon">👍</p>
                <p class="t_right">100000</p>
              </a>
            </div>
            <% unless @closed %>
              <div class="post_control">
                <span class="control_item">
                  <%= link_to 'スレッド削除', 'javascript:void(0)', onclick: "passShow('post_del_#{@post.post_id}')" %>
                </span>
                <span class="control_item">
                  <%= link_to '編集', 'javascript:void(0)', onclick: "passShow('post_mod_#{@post.post_id}')" %>
                </span>
              </div>
              <div id="post_del_<%= @post.post_id %>" class="confirm t_right hidden">
                <%= form_for(@post, html: { method: 'delete', remote: true, id: "post_del_form_#{@post.post_id}" }) do |f| %>
                  <span>パスワード</span>
                  <%= f.password_field :password, id: "post_del_pass_#{@post.post_id}" %>
                  <%= f.submit :value => "削除" %>
                <% end %>
              </div>
              <div id="post_mod_<%= @post.post_id %>" class="confirm t_right hidden">
                <%= form_for @post, url: {action: 'edit'}, html: { method: 'post', id: "post_mod_form_#{@post.post_id}" } do |f| %>
                  <span>パスワード</span>
                  <%= f.password_field :password, id: "post_mod_pass_#{@post.post_id}" %>
                  <%= f.submit :value => "確認" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>

        <!-- Reply -->
        <% @replies.each do |reply| %>
          <li>
            <div class="reply_message">
                <div class="reply_body">
                  <% unless reply.quote_content.nil? %>
                    <div class="quote_content">
                      <p class="quote">引用 ></p>
                      <%= reply.quote_content.html_safe %>
                    </div>
                    <hr>
                  <% end %>
                  <p class="content"><%= reply.content.html_safe %></p>
                </div>
                <div class="reply_foot">
                  <span class="user"><%= reply.user_id %></span>
                  <span class="time"><%= reply.write_dttm %></span>
                </div>
              <div class="osusume">
                <a href="#">
                  <p class="t_right osu_icon">♥</p>
                  <p class="t_right">1000000</p>
                </a>
              </div>

              <% unless @closed %>
                <div class="reply_control">
                  <span class="control_item">
                    <%= link_to '削除', 'javascript:void(0)', onclick: "passShow('reply_del_#{reply.reply_id}')" %>
                  </span>
                  <span class="control_item">
                    <%= link_to '編集', 'javascript:void(0)', onclick: "passShow('reply_mod_#{reply.reply_id}')" %>
                  </span>
                  <span class="control_item">
                    <%= link_to '引用', "/quotes/#{reply.reply_id}" %>
                  </span>
                </div>
                <div id="reply_del_<%= reply.reply_id %>" class="confirm t_right hidden">
                  <%= form_for(reply, html: {method: 'delete', remote: true, id: "reply_del_form_#{reply.reply_id}"}) do |f| %>
                    <span class="password">パスワード</span>
                    <%= f.password_field :password, id: "reply_del_pass_#{reply.reply_id}" %>
                    <%= f.submit :value => "削除", data: { confirm: 'スレッドを削除しますか。' }%>
                  <% end %>
                </div>
                <div id="reply_mod_<%= reply.reply_id %>" class="confirm t_right hidden">
                  <%= form_for reply, url: "/replies/#{reply.reply_id}/edit", html: { method: 'post', id: "reply_mod_form_#{reply.reply_id}" } do |f| %>
                    <span class="password">パスワード</span>
                    <%= f.password_field :password, id: "reply_mod_pass_#{reply.reply_id}" %>
                    <%= f.submit :value => "確認" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="paging_control">
      <%= paginate @replies %>
      <span>
        1ページに:
        <a href="/posts/<%= @post.post_id %>?per_page=10">10</a>,
        <a href="/posts/<%= @post.post_id %>?per_page=30">30</a>,
        <a href="/posts/<%= @post.post_id %>?per_page=50">50</a>
      </span>
    </div>
  </div>
</div>

<% unless @closed %>
<hr>
<%= render '/replies/form', submit: '作成' %>
<% end %>