<!DOCTYPE html>
<html>
  <head>
    <title>ABoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page_name">
    <% if @post.nil? and !@current_forum.nil? %>
      <span><%= @current_forum.forum_nm %></span>
    <% elsif not @post.nil? %>
      <span><%= @post.title %></span>
    <% else %>
      <span>A Board</span>
    <% end %>
    </div>
    <hr>
    <!-- flash message -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>

    <%= render "shared/menu" %>

    <%= yield %>
  </body>
</html>
